<form class="col-sm-6 col-sm-offset-3 form-horizontal" action="/admin/check_add_meeting/" method="post">
    <div class="form-group">
        <label class="col-xs-3 control-label" for="meeting_name">会议名</label>
        <div class="col-xs-9">
            <input class="form-control" id="meeting_name" name="meeting_name" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label" for="meeting_type">会议类型</label>
        <div class="col-xs-9">
            <select class="form-control" name="meeting_type" id="meeting_type" onchange="check_date_input()">
                <option value="0">非常规</option>
                <option value="1">常规</option>
            </select>
        </div>
    </div>
    <div class="form-group" id="meeting_date_div">
        <label class="col-xs-3 control-label" for="meeting_date">日期</label>
        <div class="col-xs-9">
            <input class="form-control" id="meeting_date" name="meeting_date" type="date">
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label" for="start_time">开始时间</label>
        <div class="col-xs-9">
            <input class="form-control" id="start_time" name="start_time" type="time">
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label" for="end_time">结束时间</label>
        <div class="col-xs-9">
            <input class="form-control" id="end_time" name="end_time" type="time">
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label" for="punish_type">惩罚方式 </label>
        <div class="col-xs-9">
            <select class="form-control" name="punish_type" id="punish_type" onchange="change_pun_type()">
                <option value="0">定额罚款</option>
                <option value="1">按时罚款</option>
                <option value="2">高级设定</option>
            </select>
        </div>
    </div>
    <div class="form-group" id="fixed_money_div">
        <label class="col-xs-3 control-label" for="fixed_money">罚款金额</label>
        <div class="col-xs-9">
            <input class="form-control" id="fixed_money" name="fixed_money0" type="text" placeholder="大侠饶命">
        </div>
    </div>
    <div class="form-group" id="active_money_div" style="display:none">
        <label class="col-xs-3 control-label" for="active_money">罚款金额</label>
        <div class="col-xs-7">
            <input class="form-control" id="active_money" name="fixed_money1" type="text" placeholder="手下留情">
        </div>
        <label class="col-xs-2 control-label text-left">元/分钟</label>
    </div>
    <div class="form-group" id="self_design_div" style="display:none">
        <label class="col-xs-3 control-label" for="self_design">我来设计</label>
        <div class="col-xs-9">
            <textarea class="form-control" name="self_design" id="self_design" cols="30" rows="7"></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-9 col-xs-offset-3">
            <input id="confirmbutton" type="submit" class="btn btn-sm btn-primary"
                   style="width: 100%;font-size: large;background-color: #1bc5a3;" value="提    交"/>
        </div>
    </div>
</form>
<style type="text/css">
    #confirmbutton:hover {
        background-color: white;
    }
</style>
