<!DOCTYPE html>

<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>百姓网迟到管理系统</title>

    <!-- Loading Bootstrap -->
    <link href="../../static/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="../../static/css/flat-ui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/css/header.css">

</head>
<body>
<nav id="common-header" class="navbar navbar-default" role="navigation">
    <!-- common head template -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
            <span class="sr-only">Toggle navigation</span>
        </button>
        <a href="" class="navbar-brand">迟到管理系统</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav">
            <li class="" id="tab1"><a href="#" id="assembly">会议记录</a></li>
            <li class="" id="tab2"><a href="#" id="late">迟到记录</a></li>
            <li class="" id="tab3"><a href="#" id="booking">订餐记录</a></li>
            <!--li class="" id="tab4"><a href="#" id="add_meeting">添加会议</a></li>-->
        </ul>
        <!--
        <ul class="nav navbar-nav navbar-right">
        <li class="">
        <a><span data-toggle="modal" data-target="#navSetting" class="glyphicon glyphicon-cog"
    aria-hidden="true"></span></a>
        </li>
        <li id="tab4"><a href="login.html" onclick="">登录</a></li>
        <li class="" id="tab5"><a href="register.html" onclick="">注册</a></li>
        </ul>
        -->
        <form id="search-bar" class="navbar-form navbar-right" action="#" role="search" hidden=""
              style="display: block;">
            <div class="form-group">
                <div id="the-basics">
        <span class="twitter-typeahead" style="position: relative; display: inline-block;">
        <input class="form-control typeahead tt-hint" type="text" readonly="" autocomplete="off"
               spellcheck="false" tabindex="-1" dir="ltr"
               style="position: absolute; top: 0; left: 0; border-color: transparent; box-shadow: none; opacity: 1; background-attachment: scroll; background-clip: border-box; background-color: rgb(255, 255, 255); background-image: none; background-origin: padding-box; background-size: auto; background-position: 0% 0%; background-repeat: repeat repeat;">
        <input id="search" class="form-control typeahead tt-input" type="text" placeholder="搜索" autocomplete="off"
               spellcheck="false" dir="auto"
               style="position: relative; vertical-align: top; background-color: transparent;">
        <pre aria-hidden="true"
             style="position: absolute; visibility: hidden; white-space: pre; font-family: Lato, Helvetica, Arial, sans-serif; font-size: 15px; font-style: normal; font-variant-ligatures: normal; font-variant-position: normal; font-variant-caps: normal; font-variant-numeric: normal; font-variant-alternates: normal; font-variant-east-asian: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
        </span>
                </div>
            </div>
        </form>
    </div>
</nav>
<div id="main" class="container-fluid">
    <blockquote class="col-xs-6" id="money_left">
        <p>剩余金额：<strong id="">100</strong> 元</p>
    </blockquote>
    <input id='add_meeting' type='button' class='btn btn-sm btn-success'
           style='width: 10%;font-size: large;float:right;' value='添加会议'>
</div>
</body>
</html>

<script src="/static/js/vendor/jquery.min.js"></script>
<script src="/static/js/vendor/respond.min.js"></script>
<script src="/static/js/flat-ui.min.js"></script>
<script>
    $(document).ready(function () {
        $("#assembly").trigger("click");
    });
    $("#assembly").click(function () {
        $("#assembly").parent().addClass("active");
        $("#late").parent().removeClass("active");
        $("#booking").parent().removeClass("active");
        $("#add_meeting").show();

        $.get('/admin/get_meeting_list/', function (data, status) {
            if (status == 'success') {
                var result = JSON.parse(data);
                tableClear();
                var head = ["会议编号", "会议名", "会议开始时间", "会议结束时间", "是否为常规会议"];
                var head_en = ["ID", "topic", "start_time", "end_time", "routing_flag"];
                show(head, head_en, result);
            }
        });
    });

    $("#late").click(function () {
        $("#assembly").parent().removeClass("active");
        $("#late").parent().addClass("active");
        $("#booking").parent().removeClass("active");
        $("#add_meeting").hide();

        $.get('/admin/get_fine_list/', function (data, status) {
            if (status == 'success') {
                var result = JSON.parse(data);
                tableClear();
                var head = ["编号", "会议名", "罚款金额", "发生时间", "是否已交罚款"];
                var head_en = ["ID", "meeting_topic", "amount", "happen_time", "pay_flag"];
                show(head, head_en, result);
            }
        });
    });

    $("#booking").click(function () {
        $("#assembly").parent().removeClass("active");
        $("#late").parent().removeClass("active");
        $("#booking").parent().addClass("active");
        $("#add_meeting").hide();

        $.get('/admin/get_expenses_list/', function (data, status) {
            if (status == 'success') {
                var result = JSON.parse(data);
                tableClear();
                $("#main").append();
                var head = ["编号", "金额", "日期", "订单信息"];
                var head_en = ["ID", "amount", "occur_time", "remark"];
                show(head, head_en, result);
            }
        })
    });

    $("#add_meeting").click(function () {
        $.ajax({
            url: "add_meeting.html",
            type: "POST",
            success: function (msg) {
                $("#main").empty();
                $("#main").append(msg);
            }
        })
    });


    function tableClear() {
        $("#main").empty();
        var str = "";
        str += "<table id=\'table\' class=\'table table-striped\'></table>";
        $("#main").html(str);
        $("table").append("<thead><tr></tr></thead><tbody></tbody>");
    }

    function show(head, head_en, result) {
        head.forEach(function (e) {
            $("tr").append("<th>" + e + "</th>");
        });
        result.forEach(function (e) {
            console.log(e);
            var str = "";
            for (i = 0; i < head_en.length; i++) {
                str += "<td>" + e[head_en[i]] + "</td>";
            }
            str = "<tr>" + str + "</tr>";
            $("tbody").append(str);
        })
    }

    $("#search").change(function () {
        str = this.value;
        $("tbody tr").hide();
        $("tr td").each(function () {
            if ($(this).text().search(str) >= 0)
                $(this).parent().show();
        });
    });

</script>