<!DOCTYPE html>
<html>
<head>
    <title>登陆</title>
    <meta charset="utf-8">
    <!-- Loading Bootstrap -->
    <link href="../../static/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/css/flat-ui.min.css">
    <link rel="stylesheet" href="../../static/css/login.css">
</head>
<body background="../../static/image/WeChat_1468375900.png">
<form id="login" class="login-form" action="/admin/check_login/" method="get">
    <h1 style="text-align: center">百姓网</h1>
    <div class="form-group ">
        <input id="login_name" class="form-control login-field" type="text" name="login_name"
               placeholder="E-mail/Phone">
        <label class="login-field-icon fui-mail" for="email"></label>
    </div>
    <div class="form-group">
        <input id="password" class="form-control login-field" type="password" name="password" placeholder="Password">
        <label class="login-field-icon fui-lock" for="password"></label>
    </div>
    <button type="submit" class="btn btn-sm btn-success" style="width: 100%;font-size: larger;">登录</button>
</form>
</body>
</html>
<script src="/static/js/vendor/jquery.min.js"></script>
<script src="/static/js/vendor/respond.min.js"></script>
<script src="/static/js/flat-ui.min.js"></script>
<script>
</script>