<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会议记录</title>
    <!-- Loading Bootstrap -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <!-- Loading Flat UI -->
    <link href="/static/flat-ui.css" rel="stylesheet">

</head>
<body>

<div id="mainpage" class="container mainbox">
    <div class="page-header">
        <h2>常规会议</h2>
    </div>

    <p>
    <table id="atable" class="table table-striped">
        <thead>
        <tr>
            <th width="30%">会议ID</th>
            <th>简介</th>
            <th width="15%">操作</th>
        </tr>
        </thead>
        <tbody>
        <!-- list will dynamicly generated here -->
        </tbody>
    </table>
</div>
<script src="/static/jquery-3.0.0.min.js"></script>
<script src="/static/flat-ui.min.js"></script>
<script src="/static/assembly.js"></script>
</body>
</html>