<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>WeUI</title>
    <link rel="stylesheet" href="/static/css/weui.css"/>
</head>
<body>
<div class="container" id="container"></div>
<div class="hd">
    <h1 class="page_title" style="text-align:center">未交罚款</h1>
    <div class="weui_cells_title">请确认已交罚款</div>
    <div id="checkbox" class="weui_cells weui_cells_checkbox">
    </div>
</div>

<div class="weui_cells_tips">在确认付款的记录前点击</div>
<div class="weui_btn_area">
    <a class="weui_btn weui_btn_primary" id="showTooltips" onclick="make();">确定</a>
</div>
</body>
<script src="/static/js/jquery-3.0.0.min.js"></script>
<script src="/static/js/pun_show.js"></script>
<script>
    fake();
</script>
</html>
